page-login {

    .tela-login {
        background-image: url("../../assets/imgs/background.svg")
    }
    
    .imagens-fundo {
        width: 20rem;
        margin-left: 11rem;
    }

    .texto {
        text-align: center;
    }

    .sua {
        text-align: right;
    }

}