
page-home {

    .bloco-principal {
        background-image: url("../../assets/imgs/background.svg");
    }

    .div-login {
        text-align: center;
        margin-top: 100px;
    }

    .div-imagem-nutrisim {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 40%;
    }
    
    .botao-tela {
        width: 80%;
        border-radius: 10px;
    }

}
